{
  "extends": ["prettier", "react-app"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "prettier/prettier": "error",
    "arrow-body-style": ["error", "as-needed"],
    "eqeqeq": ["error", "always", { "null": "ignore" }]
  }
}
