{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "prettier/prettier": "error",
    "arrow-body-style": ["error", "as-needed"]
  }
}
